.App {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

.left {
  float: left;
  border: 2px black solid;
}

.right {
  float: right;
  border: 2px black solid;
}
